.chats {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  background-color: var(--color-gray-800);
  justify-content: space-between;
}

.chats__body {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  overflow: hidden;
}

.chats__list {
  display: flex;
  flex-direction: column;
}

.chats__menu {
  display: none;
}

@media (width < 720px) {
  .chats {
    padding: var(--padding-md) var(--padding-xs);
  }

  .chats__body {
    display: none;
  }

  .chats__menu {
    display: block;
  }

  .chats--shrink {
    padding: var(--padding-md);

    .chats__body {
      display: flex;
      flex-direction: column;
    }

    .chats__menu {
      position: absolute;
      top: var(--padding-sm);
      right: var(--padding-xs);
    }
  }
}
